@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /** UserProfile */
    .profile-page-filter-button {
        @apply text-center bg-gray-200 rounded-md cursor-pointer text-gray-800 text-base p-1 hover:text-gray-800;
    }

    .profile-page-filter-button-selected {
        @apply rounded-t-lg;
    }

    .action-button {
        @apply text-white py-2 px-8 text-center h-fit w-fit cursor-pointer select-none rounded-3xl;
    }

    /** LeftPanel */
    .left-panel-button {
        @apply btn w-full text-black flex flex-row justify-start items-center text-base p-2 px-4 bg-slate-200 gap-x-4 select-none cursor-pointer rounded-lg hover:bg-slate-300;
    }

    .left-panel-button-selected {
        @apply bg-blue-300 hover:bg-blue-400;
    }

    .left-panel-button-counter {
        @apply bg-slate-400 px-3 py-1 rounded-lg;
    }

    .sidepanel {
        @apply flex flex-col bg-white rounded-lg w-96 h-fit p-4;
    }

    .right-sidepanel-tab-button {
        @apply text-lg text-center w-full border-b-2 rounded-t-lg hover:text-black hover:bg-slate-100
        border-b-gray-400 py-1 select-none cursor-pointer transition-all duration-500;
    }

    .right-sidepanel-tab-button-selected {
        @apply border-b-black bg-blue-300 text-black;
    }

    .sidepanel-tab-size {
        @apply w-[22rem];
    }
    .right-sidepanel-tab-item-size {
        @apply w-[21rem];
    }

    .right-sidepanel-tab {
        @apply w-[22rem] flex-shrink-0 transition-all duration-500 flex flex-col gap-4 max-h-96 overflow-x-hidden overflow-y-scroll;
    }

    .right-sidepanel-tab-closed {
        @apply w-0;
    }

    .sidepanel-right-tab {
    }

    .left-sidepanel {
        @apply gap-y-4;
    }

    .left_panel_list {
        @apply flex flex-col bg-slate-100 items-center max-h-80 overflow-y-scroll;
    }

    /** Right Panel */
    .common-link-filter-selected {
        @apply bg-blue-600 text-white;
    }

    .common-link-filter-active {
        @apply bg-blue-500 text-white;
    }

    .btn {
        @apply text-white py-2 px-8 text-center h-fit w-fit cursor-pointer select-none rounded-md
        bg-slate-700 hover:bg-slate-800 transition active:scale-95 disabled:bg-slate-500;
    }

    .text-input {
        @apply border border-black pl-2 rounded-md outline-2 outline-offset-1 focus:outline-slate-600;
    }

    .textarea-input {
        @apply border border-black pl-2 rounded-md focus:outline-2 outline-offset-1 focus:outline-slate-600;
    }

    .checkbox {
        @apply w-6 h-6 accent-slate-700 transition active:scale-95;
    }

    .group-square {
        @apply rounded-3xl;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --bg_color1: #8ce5fe;
    --bg_color2: #f8f8f8;
    --text_color: #4e4e4e;
    --primary-color: #6495ed;
    --search-bar-background-color: #ececec;
}
body,
html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
body {
    background: var(--bg_color2);
    height: 98vh;
    color: var(--text_color);
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
div#background_color_1 {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 55vh;
    background-color: var(--bg_color1);
}
main > header {
    display: grid;
    grid-template-columns: 6fr 10fr 6fr;
    align-items: center;
    background-color: #d2afe7;
    padding: 1em;
    background-color: #ffffff;
    padding: 1rem 3rem;
}
main > header h1 {
    text-align: center;
}
main > header h1 a {
    margin: 0;
    font-size: 2rem;
    color: var(--primary-color);
    text-decoration: none;
}

main > header :last-child {
    line-height: w;
}
main > header a {
    font-size: 1.2rem;
}
main > header span {
    margin: 1rem;
    justify-self: center;
}
main > header a i {
    color: var(--primary-color);
}
main > header a.logout_button {
    justify-self: center;
    color: var(--primary-color);
}
main > header > .search_bar {
    margin: auto;
    height: 3rem;
    width: 31rem;
    border-radius: 50px;
    border: 2px solid var(--primary-color);
    align-items: center;
    padding: 0px 2rem;
    text-align: center;
}
main > header > .search_bar > form {
    width: 400px;
    height: 20px;
    margin: auto;
    margin-bottom: 0.6rem;
    border-bottom: var(--primary-color);
}
main > header > .search_bar > i {
    color: var(--primary-color);
    font-size: 1.3em;
}
main > header > .search_bar > form > input,
.search_bar > form > input:focus {
    border: 0px;
    border-radius: 0;
    border-bottom: 2px solid var(--primary-color);
    height: 20px;
}
section#content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 40px; /*for header */
    padding-bottom: 4rem; /*for footer */
    min-height: 82vh;
}
section#content #home-container {
    width: 50rem;
    height: 26rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-areas: "title image" "buttons image";
    grid-template-rows: 6fr 4fr;
    grid-template-columns: 6fr 3fr;
    padding: 3rem 2rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

section#content #home-container h3 {
    grid-area: title;
    font-size: 1.7rem;
    width: 350px;
    line-height: 33px;
    font-weight: 800;
    font-family: "Inter";
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #88aff6;
}

section#content #home-container img {
    grid-area: image;
    margin: auto;
    height: 250px;
}
section#content #home-container #buttons {
    grid-area: buttons;
    margin: 40px auto;
    width: 350px;
}
section#content #home-container #buttons :first-child {
    text-align: center;
    font-size: 20px;
    width: 150px;
    height: 40px;
    line-height: 36px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    border: 2px solid white;
}
section#content #home-container #buttons :nth-child(2) {
    text-align: center;
    font-size: 20px;
    width: 150px;
    height: 40px;
    line-height: 34px;
    background-color: inherit;
    color: var(--primary-color);
    font-weight: 500;
    border-radius: 5px;
    border: 3px solid var(--primary-color);
}

section#timeline {
    background: #fff;
    border-radius: 20px;
    width: 32rem;
    min-height: 200px;
}

section#timeline-container {
    border-radius: 20px;
    width: 38rem;
    min-height: 200px;
    margin-bottom: 2rem;
    background-color: white;
}

section#private_profile {
    width: 100%;
    height: 19rem;
    display: grid;
    grid-template-areas: "profile private_warning" "profile follow";
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 40% 60%;
    padding: 40px 30px;
}
section#private_profile > #private_profile_info {
    grid-area: profile;
    width: 100%;
}

section#private_profile > #private_profile_info > #profile_image {
    background-color: lightgreen;
    width: 60%;
}
section#private_profile > #private_profile_info > #user_identity_info {
    margin-top: 10px;
    text-align: center;
}
section#private_profile > #warning_private_profile {
    grid-area: private_warning;
    margin: auto;
    text-align: center;
}
section#profile {
    width: 100%;
    height: 22rem;
    display: grid;
    grid-template-areas: "profile_img info info" "identity identity follow" "bio bio bio" "filters filters filters";
    grid-template-rows: 120px 60px 105px 30px;
    grid-template-columns: 25% 50% 25%;
}
section#profile > #profile_image {
    grid-area: profile_img;
    background-color: lightgreen;
    height: 80%;
}
section#profile > #user_life_info_container {
    grid-area: info;
    height: auto;
    width: 100%;
}
section#profile > #user_life_info_container i {
    min-width: 30px;
    text-align: center;
}
section#profile > #user_identity_info {
    grid-area: identity;
    height: 100%;
    width: 80%;
    padding: 0 20px 5px 20px;
}
section#profile > #user_identity_info > #name,
section#private_profile #name {
    font-size: 1.3em;
    color: black;
}
section#profile > #user_identity_info i {
    font-size: 5px;
    align-self: center;
}
section#profile > #link_button,
section#private_profile > #link_button,
#unblock_button {
    grid-area: follow;
    margin: auto;
    margin-bottom: 50px;
}
section#profile > #user_bio_section {
    grid-area: bio;
    height: 100%;
    padding: 10px 20px 10px 20px;
}
section#profile > #user_bio_section > #bio {
    font-size: 1.1em;
    padding-bottom: 0.5rem;
}

section#profile > #user_bio_section > :nth-last-child(2) {
    font-size: 0.9em;
    text-decoration: underline;
}
section#profile > #user_bio_section > :nth-last-child(1) {
    font-size: 0.9em;
}
section#profile > #filters {
    grid-area: filters;
}

#edit_profile input,
#edit_profile textarea {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
}
#edit_profile label {
    margin-top: 10px;
}

#edit_profile input[type="radio"] {
    width: 15px;
    margin: 12px 5px 5px 5px;
}

#edit_profile textarea {
    max-height: 80px;
}

#posts {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
#posts article.post {
    display: flex;
    flex-direction: column;
    background-color: #d3edc3;
    padding: 1em;
    margin: 1em;
}
#posts article.post header {
    display: flex;
    align-items: center;
}
#posts article.post header h2 {
    flex-grow: 1;
}
#posts article.post header a.delete {
    display: none;
    font-size: 2.6rem;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    line-height: 1.25;
}
#posts article.post header:hover a.delete {
    display: inline;
}
#posts article.post li {
    list-style-type: none;
}
#posts article.post li label {
    display: flex;
    align-items: baseline;
}
#posts article.post li label span {
    margin-left: 0.5em;
    flex-grow: 1;
}
#posts article.post li label a {
    display: none;
}
#posts article.post li label:hover a {
    display: inline;
}
#posts article.post input:checked + span {
    -webkit-text-decoration: var(--primary-color) solid line-through;
    text-decoration: var(--primary-color) solid line-through;
}
#posts article.post ul {
    margin: 0;
}
#posts article.post form {
    margin: 0;
}
#posts article.post input[type="text"] {
    background-color: #fff;
    margin: 0;
}
article #postCardInfo > a {
    margin-right: 20px;
    font-size: 0.8rem;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;
}

article #postCardInfo > a .arrows {
    font-size: 1.2rem;
}
#content label {
    font-weight: normal;
}
#content > form {
    margin: 0 auto;
    padding: 25px 40px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
}
#content > form > label {
    font-family: "Inter";
}
#content > form > a {
    text-decoration: solid;
    color: var(--primary-color);
}
#content > form > p {
    margin: auto;
    word-break: normal;
}
#content > form > select {
    border: solid 1px var(--primary-color);
}
#content > form > #register-title {
    color: var(--primary-color);
}
#content > form button,
#content > form .button {
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
}
#content > form .error {
    font-weight: bold;
    color: #f33;
}
#content > form input {
    background-color: #f3f3f3f3;
    border: solid 1px var(--primary-color);
}
#content > form input:focus {
    outline: none !important;
    box-shadow: 0 1px 0 var(--primary-color);
}
#content > form textarea {
    border: 1px solid var(--primary-color);
}
#posts article.post header:hover a.delete {
    display: inline;
}
#posts article.post li {
    list-style-type: none;
}
#posts article.post li label {
    display: flex;
    align-items: baseline;
}
#posts article.post li label span {
    margin-left: 0.5em;
    flex-grow: 1;
}
#posts article.post li label a {
    display: none;
}
#posts article.post li label:hover a {
    display: inline;
}
#posts article.post input:checked + span {
    -webkit-text-decoration: var(--primary-color) solid line-through;
    text-decoration: var(--primary-color) solid line-through;
}
#posts article.post ul {
    margin: 0;
}
#posts article.post form {
    margin: 0;
}
#posts article.post input[type="text"] {
    background-color: white;
    margin: 0;
}

section.content .card-collection {
    background-color: var(--bg_color2);
    padding: 10px;
}
section.content .card-body {
    background-color: #ffffff;
    border: 2px solid var(--primary-color);
    padding: 10px;
}
section.content .card-body > * {
    width: 10rem;
}
section.content .card-body > input {
    margin: 0 10px;
    width: 120px;
    text-align: center;
}
/* --------------------------------------- */
#content label {
    font-weight: normal;
}
#content > form .error {
    font-weight: bold;
    color: #ff3333;
}
#content > form input {
    background-color: white;
}

#content > form button,
.button {
    background-color: var(--primary-color);
    border: solid 2px var(--primary-color);
    padding: 1px 15px;
    color: white;
}

#content > form button:hover,
#content > form .button:hover {
    transition: all 0.45s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: white;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

#aboutus-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: auto;
    padding: 2rem 3rem;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
#aboutus-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#aboutus-container h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0.4rem;
}

form#create_user {
    padding: 2rem 2rem;
}

form#create_user input,
form#create_user textarea {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
}
#create_user label {
    margin-top: 10px;
}

#create_user input[type="radio"] {
    width: 15px;
    margin: 12px 5px 5px 5px;
}

input:checked,
input:focus {
    outline: none !important;
}

.mobile {
    display: none;
}

footer {
    height: 4rem;
    font-size: 1.1rem;
    background-color: #dcdcdc;
    color: black;
}

@media (max-width: 800px) {
    html {
        font-size: 10px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
    }

    .mobile {
        display: inline-block;
    }
    .desktop {
        display: none;
    }

    main > header {
        padding: 1rem 1rem;
    }

    main > header h1 {
        text-align: left;
        padding-left: 1rem;
    }

    main > header > .search_bar {
        width: 17rem;
        height: 2.7rem;
        padding: 0rem 1rem;
        padding-top: 0.2rem;
        border: 1px solid var(--primary-color);
    }

    main > header > .search_bar #account_tag {
        width: 10rem;
        border-bottom: 1px solid var(--primary-color);
    }

    section#timeline {
        width: 34rem;
    }

    section#timeline-container {
        width: 34rem;
        padding: 0.7rem;
    }
    section#timeline-container #newPostCardLeftBar {
        width: 4rem;
        height: 4rem;
    }
    section#timeline-container #newPostCardLeftBar :first-child {
        width: 4rem;
        height: 4rem;
    }

    section#profile {
        height: 21rem;
        grid-template-rows: 96px 32px 53px 30px;
    }
    section#profile #filters {
        gap: 0;
        justify-content: space-between;
    }
    section#profile .profile-page-filter-button {
        width: 6rem;
    }

    .sidepanel {
        position: fixed;
    }
    .right-sidepanel {
        display: none;
    }

    #postCardLeftBar > div {
        width: 4rem;
        height: 4rem;
    }

    section#profile > #profile_image {
        height: 70%;
    }
    #posts {
        margin-top: 0;
    }

    /* MOBILE MENU */
    .mobile-menu ul {
        margin: 0;
        padding: 0;
    }

    .mobile-menu li {
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        overflow: hidden;
        padding: 5px;
        position: relative;
        text-align: left;
        text-transform: uppercase;
        padding-left: 15px;
    }

    .mobile-menu li:first-child {
        margin-top: 70px;
    }

    .mobile-menu li:hover {
        background: #cccccc;
    }

    .mobile-menu li a {
        text-decoration: none;
        color: black;
    }

    /*---------------------
          Mobiles Menu - Slide IN 
          ----------------------*/

    .mobile-menu {
        top: 4.8rem;
        left: -100%;
        width: 100%;
        background-color: #ffffff;
        color: black;
        height: 100%;
        position: fixed;
        z-index: 9997;
        overflow-y: auto;
        -webkit-transform: translate3d(0, 0, 205px);
        -moz-transform: translate3d(0, 0, 205px);
        transform: translate3d(0, 0, 205px);
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
    }

    .mobile-menu.active {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
    }

    .sidepanel-mobile {
        display: block;
    }
    .sidepanel-mobile > div * {
        font-size: 14px;
    }
    .left-panel-button {
        height: 6rem;
        font-size: 15px;
        background-color: rgb(255, 255, 255);
        color: black;
    }
    .left-panel-button-selected {
        background-color: #6495ed4d;
        color: black;
    }

    #left_panel_links_list {
        max-height: 24rem;
    }
    #left_panel_links_list > :first-child {
        height: 3rem;
    }

    /*---- LOGIM PAGE -----*/

    section#content #home-container {
        width: 30rem;
        height: 45rem;
        padding: 8rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    section#content #home-container img {
        height: 120px;
        margin: 0;
    }
    section#content #home-container h3 {
        text-align: center;
        left: 0;
        top: 0;
        line-height: 20px;
        position: relative;
        transform: translate(0, 0);
    }

    section#content #home-container #buttons {
        width: 180px;
        margin: 0;
    }

    section#content #home-container #buttons :first-child {
        width: 80px;
        height: 30px;
        line-height: 25px;
        font-size: 16px;
    }
    section#content #home-container #buttons :nth-child(2) {
        width: 80px;
        height: 28px;
        line-height: 24px;
        font-size: 16px;
    }

    #editUserModal :nth-child(2) {
        max-width: 90%;
    }

    /*---------------------*/

    #aboutus-container {
        width: 30rem;
    }

    #admin_usershow_container {
        width: 95%;
    }
    #admin_usershow_container > div {
        width: 45rem;
        padding: 2rem 0.5rem;
        font-size: 8px;
    }
}

@media (min-width: 800px) {
    html {
        font-size: 12px;
    }
    section#profile {
        height: 18rem;
        grid-template-rows: 100px 35px 60px 30px;
    }
    .sidepanel {
        width: 15rem;
    }

    /* Home Login Page  */
    section#content #home-container {
        width: 55em;
        height: 30rem;
        padding: 4rem 5rem;
        grid-template-columns: 6fr 3fr;
        grid-template-rows: 5fr 4fr;
        grid-template-areas: "title image" "buttons image";
    }
    section#content #home-container #buttons {
        width: 240px;
        margin: 20px auto;
        padding-right: 50px;
    }
    section#content #home-container img {
        height: 100%;
    }
    section#content #home-container h3 {
        width: 250px;
        padding-right: 50px;
    }
    section#content #home-container #buttons :first-child {
        width: 80px;
        height: 30px;
        line-height: 25px;
        font-size: 15px;
    }
    section#content #home-container #buttons :nth-child(2) {
        width: 80px;
        height: 30px;
        line-height: 24px;
        font-size: 15px;
    }
}

@media (min-width: 1000px) {
    html {
        font-size: 9px;
    }
    section#profile > #user_bio_section > #bio {
        padding-bottom: 0.5rem;
    }
    section#profile {
        height: 19rem;
        grid-template-rows: 70px 28px 53px 10px;
    }
    #posts {
        margin-top: 0;
    }
    .sidepanel {
        width: 24rem;
    }
}

@media (min-width: 1100px) {
    html {
        font-size: 10px;
    }
    section#profile > #user_bio_section {
        height: 5rem;
    }
    section#profile {
        height: 21rem;
        grid-template-rows: 100px 35px 54px 30px;
    }
    section#profile > #profile_image {
        height: 60%;
    }
}

@media (min-width: 800) and (max-width: 1300px) {
    section#content #home-container {
        width: 55em;
        height: 30rem;
        padding: 4rem 5rem;
        grid-template-columns: 5fr 3fr;
        grid-template-rows: 5fr 4fr;
    }

    section#content #home-container img {
        height: 100%;
    }
    section#content #home-container h3 {
        width: 250px;
        padding-right: 50px;
    }
    section#content #home-container #buttons {
        width: 240px;
        margin: 20px auto;
        padding-right: 50px;
    }
    section#content #home-container #buttons :first-child {
        width: 80px;
        height: 30px;
        line-height: 25px;
        font-size: 15px;
    }
    section#content #home-container #buttons :nth-child(2) {
        width: 80px;
        height: 30px;
        line-height: 24px;
        font-size: 15px;
    }
}

@media (min-width: 1300px) {
    html {
        font-size: 13px;
    }
    section#profile > #user_bio_section {
        height: 5rem;
    }
    section#profile {
        height: 20rem;
        grid-template-rows: 120px 44px 66px 33px;
    }
    section#profile > #profile_image {
        height: 70%;
    }
    section#content #home-container h3 {
        width: 260px;
        padding: 0;
    }
}

@media (min-width: 1650px) {
    html {
        font-size: 18px;
    }

    section#profile > #user_bio_section {
        height: 5rem;
    }
    section#profile {
        height: 19rem;
        grid-template-rows: 150px 73px 98px 44px;
    }

    section#profile > #profile_image {
        height: 80%;
    }
    section#content #home-container h3 {
        width: 350px;
        padding: 0;
    }
    section#content #home-container #buttons {
        width: 350px;
        margin: 20px auto;
        padding-right: 50px;
    }
    section#content #home-container #buttons :first-child {
        width: 130px;
        height: 40px;
        line-height: 35px;
        font-size: 20px;
    }
    section#content #home-container #buttons :nth-child(2) {
        width: 130px;
        height: 40px;
        line-height: 34px;
        font-size: 20px;
    }
}

@media (min-width: 2000px) {
    html {
        font-size: 20px;
    }
    section#profile {
        height: 18rem;
        grid-template-rows: 150px 73px 98px 44px;
    }
}

i#deleteUser {
    color: rgb(248 113 113);
}
i#deleteUser:hover {
    color: rgb(185 28 28);
    cursor: pointer;
}
